<ion-header>
    <ion-navbar>
        <ion-title>{{title}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
    <div *ngIf="title=='今日头条'">
        <ion-card *ngFor="let item of listData">
            <img src="./assets/img/{{item?.img}}"/>
            <div class="card-title">{{item?.name}}</div>
            <div class="card-subtitle">{{item?.email}}</div>
        </ion-card>
    </div>
    <div *ngIf="title=='资讯'">
        <img src="./assets/img/card-madison.png">
        <ion-card *ngFor="let item of listData">
            <ion-item>
                <ion-avatar item-start>
                    <img src="./assets/icon/{{item?.icon}}">
                </ion-avatar>
                <h2>{{item?.name}}</h2>
                <p>{{item?.email}}</p>
            </ion-item>
        </ion-card>
    </div>
    <ion-list *ngIf="title!='今日头条'&&title!='资讯'" class="list-ios">
        <ion-item *ngFor="let item of listData">
            <ion-avatar item-left>
                <img src="./assets/icon/user.png">
            </ion-avatar>
            <h2>{{item?.name}}</h2>
            <p>{{item?.email}}</p>
        </ion-item>
    </ion-list>

</ion-content>

